{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="demo-btns pull-left">
                <li>
                    <h1><i class="fa fa-lg fa-plus"></i>  Ajoute role</h1>
                </li>
                &nbsp;&nbsp;
                <li>
                    <a href="{{ path('role_index') }}" class="btn btn-primary btn-circle btn-sm" title="Retour liste"><i class="fa fa-lg fa-mail-reply"></i></a>
                </li>
            </ul>
        </div>
    </div>

    {{ include('role/_form.html.twig') }}
{% endblock %}
