{% extends 'base_front.html.twig' %}

{% block title %} Contact {% endblock title %}

{% block body %}
<div class="page-header" style="background: url(../fronttheme/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title"><i class="fa fa-send"></i> Contact </h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home /</a></li>
                        <li class="current">Contacter nous
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('flush_message.html.twig') }}
{{ include('contact/_form.html.twig') }}
</section>

{% endblock %}